@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*******************
common css start
********************/
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
ol, ol{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
img{
    border: 0;
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p,a,img,ol,ul,li{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.lolypop{
    padding: 0 100px;
}

/****************************
common css end
*****************************/

/****************************
header area start
*****************************/

section{
    height: 500px;
}
.header{
    height: 500px;
    background-image: url('images/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.half-width{
    width: 50%;
    float: left;

}
.half-width img{
    width: 100%;
    height: 500px; /* Height is given when I seen image is overflowing. But it is not working*/
}
.header-left{
    padding-top: 180px;
}


h1{
    font-size: 50px;
    font-weight: bold;
    color: #ec4c7a;
}
h2{
    font-size: 30px;
}
.half-width p{
    padding: 30px 0;
}
.half-width a{
    margin-top: 5px;
    color: #ffffff;
    background-color: #ec4c7a;
    border-radius: 15px;
    padding: 10px 20px;
}
.half-width a:hover{
    
    color: #ec4c7a;
    background-color: #ffffff;
}

/****************************
Header area end
*****************************/
/****************************
Biography part start
*****************************/

.biography{
    background-image: url('images/biography-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.bio-right{
    padding-top: 180px;
}

/****************************
Biography part end
*****************************/
/****************************
latest work start
*****************************/

.latest-work{
    background-image: url('images/latest-work-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    text-align: center;
    padding: 60px 0;
}

.work-items img{
    height: 100%;
    width: 31.2%;
    float: left;
    padding: 0 20px 0 0;
}

/****************************
latest work end
*****************************/
/****************************
client part start
*****************************/

.client-part{
    background-image: url('images/footer-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.tolypop{
    padding: 0 350px;
    text-align: center;
}
.client-say h2{
    padding: 70px 0;
}
.client-say h4{
    padding-bottom: 50px;
    color: #ec4c7a;
}
.client-say p{
    font-size: 15px; 
    padding-bottom: 50px;   
}
.kolypop{
    padding: 0 280px;
}
.contact{
    background-color:#ec4c7a;
    border-radius: 15px;
}
.contact h5{
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
.contact a{
    color: #ffffff;
    padding: 50px 230px;
}

.client-part h6{
    text-align: center;
    color: #ec4c7a;
    padding: 50px 0;
}